<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
  <title>电子围栏</title>
  <link rel="stylesheet" href="./css/reset.css" />
  <link rel="stylesheet" href="./css/map.css" />
  
</head>

<body class="fanceDom">
  <div class="mapCon" id="container"></div>
  <div id="fanceCon">
    <div class="topInfo" @click="selFence = true">
      <span>{{fenceNodeInfo.name || '选择'}}</span>
      <img src="./image/right.png" alt="">
    </div>
    <div class="elData" v-if="selFence">
      <div class="elDataBg" @click="closeInstall"></div>
      <div class="elDataCon">
        <h4>选择电子围栏</h4>
        <ul>
          <li :class="{'active':fenceIndex == index}" v-for="(item, index) in fenceList" data-name="fenceIndex"
            :data-index="index" @click="selDataClick">
            {{item.name}}
            <img class="icon" src="./image/active.png" v-if="fenceIndex == index" alt="">
          </li>
        </ul>
        <button class="sub" @click="selectedFence">确定</button>
      </div>
    </div>
    <div class="editButton">
      <!-- <button onclick="polyEditor.open()"> -->
      <button @click="openPolyEditor">
        <img src="./image/startEdit.png" alt="">
        开始编辑
      </button>
      <!-- <button onclick="polyEditor.close()"> -->
      <button @click="closePolyEditor">
        <img src="./image/endEdit.png" alt="">
        结束编辑
      </button>
    </div>
    <div class="fenceInfo" v-if="sysFence">
      <div class="fenceInfoCon">
        <button @click="sysFence = false">关闭</button>
        <h4>
          南窑头
          <img src="./image/edit.png" alt="">
        </h4>
        <ul>
          <li>
            <div>所有</div>
            <span>适用设备</span>
          </li>
          <li>
            <div>入报警</div>
            <span>报警类型</span>
          </li>
          <li>
            <div>已打开</div>
            <span>状态设置</span>
          </li>
          <li>
            <div>删除</div>
            <span>删除围栏</span>
          </li>
        </ul>
      </div>
    </div>
    <img class="newFance" src="./image/newFance.png" alt="" @click="goPage" data-url="newFence.html">
    <ul class="selMayType">
      <li @click="goPage" data-url="index.html">
        <img src="./image/location.png" alt="">
        实时定位
      </li>
      <li @click="goPage" data-url="track.html">
        <img src="./image/track.png" alt="">
        轨迹回放
      </li>
      <li class="active" @click="goPage" data-url="fence.html">
        <img src="./image/fenceActive.png" alt="">
        电子围栏
      </li>
    </ul>
  </div>
</body>
<script src="./js/public.js"></script>
<script src="./js/vue.min.js"></script>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://webapi.amap.com/maps?v=1.4.15&key=b1e64030afdd4f85f35e3da7ffb33078&plugin=AMap.PolyEditor"></script>
<script src="./js/demoutils.js"></script>
<script src="./js/fance.js"></script>
<script>
  let userInfo = getPageData()
  userInfo['tolen'] = 'eyJhbGciOiJIUzI1NiJ9.eyJ1c2VyQ29kZSI6Im51bGxfemp4aiIsImxvZ2luQ29kZSI6IjEzMzU5MjAxODQzIiwibW9iaWxlIjoiIiwidXNlck5hbWUiOiIxMzM1OTIwMTg0MyIsInVzZXJUeXBlIjoibWVtYmVyIiwiaWF0IjoxNTk0NTI0Mjg5fQ.Tec2zF7P0Ng52j6F9VGLuzGGozkM2ikAWvqq2n8-FWc'
  new Vue({
    el: '#fanceCon',
    data: {
      userInfo: userInfo,
      fenceNodeInfo: {},
      editOpen: false,
      newFance: false,
      selFence: false,
      sysFence: false,
      fenceIndex: null,
      fenceList: []
    },
    mounted() {
      // 获取用户信息
      // this.getUserInfo()
      axiosInit()
      // 获取围栏列表
      this.getFenceList()
    },
    methods: {
      goPage(e) {
        let url = e.target.dataset.url;
        window.location.href = url
      },
      // getUserInfo() {
      //   this.userInfo = getPageData()
      // },
      getFenceList() {
        this.fenceList = [
          {name: '围栏1', id: '1'},
          {name: '围栏2', id: '1'},
          {name: '围栏3', id: '1'},
          {name: '围栏4', id: '1'},
          {name: '围栏5', id: '1'},
        ]
        
        axios.get(`/geo/fence/list`)
          .then(res => {
            if (res.status == 200) {
              let list = res.data.payload
              for (let i = 0; i < list.length;i++) {
                let itemNode = {}
                console.log(itemNode)
                this.fenceList.push(itemNode)
              }
              // console.log(this.fenceList)
              this.fenceList = list
              // this.deviceList = this.dataConvert(this.deviceList)
              markersShow(this.fenceList)
            }
          })
          .catch(function (error) { // 请求失败处理
            console.log(error);
          });
      },
      // 关闭所有选择框
      closeInstall() {
        this.selDevice = false
        this.alarmType = false
        this.statusSys = false
      },
      // 获取选择框的值
      selDataClick(e) {
        let name = e.target.dataset.name;
        let index = e.target.dataset.index;
        this.fenceIndex = index
      },
      selectedFence() {
        if (this.fenceIndex != null) {
          this.fenceNodeInfo = this.fenceList[this.fenceIndex];
          this.selFence = false;
          this.sysFence = true;
        } else {
          alert('请选择设备')
        }
      },
      openPolyEditor() {
        polyEditor.open()
      },
      closePolyEditor() {
        polyEditor.close()
      }
    }
  })
</script>

</html>