<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
  <title>电子围栏</title>
  <link rel="stylesheet" href="./css/reset.css" />
  <link rel="stylesheet" href="./css/map.css" />

</head>

<body class="fanceDom">
  <div class="mapCon" id="container"></div>
  <div id="fanceCon">
    <div class="topInfo" @click="selFence = true">
      <span>{{fenceNodeInfo.fenceName || '选择'}}</span>
      <img src="./image/right.png" alt="">
    </div>
    <div class="elData" v-if="selFence">
      <div class="elDataBg" @click="closeInstall"></div>
      <div class="elDataCon">
        <h4>选择电子围栏</h4>
        <ul>
          <li :class="{'active':fenceIndex == index}" v-for="(item, index) in fenceList" data-name="fenceIndex"
            :data-index="index" @click="selFenceClick">
            {{item.fenceName}}
            <img class="icon" src="./image/active.png" v-if="fenceIndex == index" alt="">
          </li>
        </ul>
        <button class="sub" @click="selectedFence">确定</button>
      </div>
    </div>
    <div class="editButton">
      <!-- <button onclick="polyEditor.open()"> -->
      <button @click="openPolyEditor">
        <img src="./image/startEdit.png" alt="">
        开始编辑
      </button>
      <!-- <button onclick="polyEditor.close()"> -->
      <button @click="closePolyEditor">
        <img src="./image/endEdit.png" alt="">
        结束编辑
      </button>
    </div>
    <div class="fenceInfo" v-if="sysFence">
      <div class="fenceInfoCon">
        <button @click="sysFence = false">关闭</button>
        <h4 v-if="fenceNameModify == false">
          {{fenceNodeInfo.fenceName}}
          <img src="./image/edit.png" @click="fenceNameModify = true" alt="">
        </h4>
        <h4 v-if="fenceNameModify == true">
          <input type="text" :model="fenceNodeInfo.fenceName" @input="setFenceName" />
          <span @click="modifyFence" class="active">保存</span>
          <span @click="fenceNameModify = false">取消</span>
        </h4>
        <ul>
          <li @click="selDevice = true">
            <div>查看</div>
            <span>适用设备</span>
          </li>
          <li @click="alarmType = true">
            <div v-if="fenceNodeInfo.alarmRule == 1">入报警</div>
            <div v-else>出报警</div>
            <span>报警类型</span>
          </li>
          <li @click="statusSys = true">
            <div v-if="fenceNodeInfo.effect == 1">生效</div>
            <div v-else>不生效</div>
            <span>状态设置</span>
          </li>
          <li @click="delFence">
            <div>删除</div>
            <span>删除围栏</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="elData" v-if="selDevice">
      <div class="elDataBg" @click="closeInstall"></div>
      <div class="elDataCon">
        <h4>选择适用设备</h4>
        <ul>
          <li :class="{'active':item.sel == 1}" v-for="(item, index) in deviceList" :data-index="index" @click="selDeviceClick">
            {{item.member.memName}}
            <img class="icon" src="./image/active.png" v-if="item.sel == 1" alt="">
          </li>
        </ul>
        <button class="sub" @click="modifyFence">确定</button>
      </div>
    </div>
    <div class="elData" v-if="alarmType">
      <div class="elDataBg" @click="closeInstall"></div>
      <div class="elDataCon">
        <h4>选择报警类型</h4>
        <ul>
          <li :class="{'active':alarmTypeIndex == index}" v-for="(item, index) in alarmTypeList" data-name="alarmTypeIndex"
            :data-index="index" @click="selDataClick">
            {{item.name}}
            <img class="icon" src="./image/active.png" v-if="alarmTypeIndex == index" alt="">
          </li>
        </ul>
        <!-- <button class="sub" @click="runSelDevice = false;deviceIndex = deviceIndexShow">确定</button> -->
      </div>
    </div>
    <div class="elData" v-if="statusSys">
      <div class="elDataBg" @click="closeInstall"></div>
      <div class="elDataCon">
        <h4>选择是否生效</h4>
        <ul>
          <li :class="{'active':statusSysIndex == index}" v-for="(item, index) in statusSysList" data-name="statusSysIndex"
            :data-index="index" @click="selDataClick">
            {{item.name}}
            <img class="icon" src="./image/active.png" v-if="statusSysIndex == index" alt="">
          </li>
        </ul>
        <!-- <button class="sub" @click="runSelDevice = false;deviceIndex = deviceIndexShow">确定</button> -->
      </div>
    </div>
    <img class="newFance" src="./image/newFance.png" alt="" @click="goPage" data-url="newFence.html">
    <ul class="selMayType">
      <li @click="goPage" data-url="index.html">
        <img src="./image/location.png" alt="">
        实时定位
      </li>
      <li @click="goPage" data-url="locus.html">
        <img src="./image/track.png" alt="">
        轨迹回放
      </li>
      <li class="active" @click="goPage" data-url="fence.html">
        <img src="./image/fenceActive.png" alt="">
        电子围栏
      </li>
    </ul>
  </div>
</body>
<script src="./js/public.js"></script>
<script src="./js/vue.min.js"></script>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://webapi.amap.com/maps?v=1.4.15&key=a00b235d251b6c4498797f45080501a6&plugin=AMap.PolyEditor"></script>
<script src="./js/demoutils.js"></script>
<!-- <script src="./js/fance.js"></script> -->
<script>
  let userInfo = getPageData()
  userInfo['token'] = 'eyJhbGciOiJIUzI1NiJ9.eyJ1c2VyQ29kZSI6Im51bGxfemp4aiIsIm1vYmlsZSI6IiIsInVzZXJOYW1lIjoiMTMzNTkyMDE4NDMiLCJpYXQiOjE1OTU0MTM2Mzl9.1AIIrcBoPKHrQ9hkYrr6bxcnDIKLEh3SjcbwGAtxIts'
  var fenceVue = new Vue({
    el: '#fanceCon',
    data: {
      userInfo: userInfo,
      fenceNodeInfo: {},
      selDevice: false,
      alarmType: false,
      statusSys: false,
      editOpen: false,
      newFance: false,
      selFence: false,
      sysFence: false,
      fenceIndex: null,
      fenceList: [],
      fenceInfo: '',
      selDevice: false,
      alarmType: false,
      statusSys: false,
      deviceList: [],
      fenceName: '',
      alarmTypeIndex: null,
      alarmTypeList: [
        { name: '出报警', id: '0' },
        { name: '入报警', id: '1' }
      ],
      statusSysIndex: null,
      statusSysList: [
        { name: '不生效', id: '0' },
        { name: '生效', id: '1' }
      ],
      fenceNameModify: false,
      fenceModify: false
    },
    watch: {
      fenceModify() {
        this.modifyFence()
      }
    },
    mounted() {
      // 获取用户信息
      // this.getUserInfo()
      axiosInit()
      // 获取围栏列表
      this.getFenceList()

    },
    methods: {
      goPage(e) {
        let url = e.target.dataset.url;
        window.location.href = url
      },
      getFenceList() {
        axios.get(`/geo/fence/list`)
          .then(res => {
            if (res.status == 200) {
              let fenceList = res.data.payload
              if (fenceList.length > 0) {
                for (let i = 0; i < fenceList.length; i++) {
                  if (fenceList[i].effect) {
                    fenceList[i].effect = 1
                  } else {
                    fenceList[i].effect = 0
                  }
                }
                this.fenceList = fenceList
                this.fenceNodeInfo = fenceList[0]
                this.alarmTypeIndex = parseInt(this.fenceNodeInfo.alarmRule)
                this.statusSysIndex = parseInt(this.fenceNodeInfo.effect)
                this.fenceInfo = this.fenceNodeInfo.coords
                fenceShow(this.fenceInfo)
                // 获取设备列表
                this.getDeviceList()
              }
            }
          })
          .catch(function (error) { // 请求失败处理
            console.log(error);
          });
      },
      // 关闭所有选择框
      closeInstall() {
        this.selDevice = false
        this.alarmType = false
        this.statusSys = false
      },
      // 获取选择框的值
      selFenceClick(e) {
        let name = e.target.dataset.name;
        let index = e.target.dataset.index;
        this.fenceIndex = index
      },
      // 获取设备名称
      setFenceName(e) {
        this.fenceNodeInfo.fenceName = e.target.value;
      },
      getDeviceList() {
        axios.get(`/terminal/list`)
          .then(res => {
            if (res.status == 200) {
              let list = res.data.payload
              let sn = this.fenceNodeInfo.matchTerminalSn.split(',')
              for (let i = 0; i < list.length; i++) {
                list[i]['sel'] = 0
                for (let y = 0; y < sn.length; y++) {
                  if (sn[y] == list[i].terminalSn) {
                    list[i]['sel'] = 1
                  }
                }
              }
              this.deviceList = list
            }
          })
          .catch(function (error) { // 请求失败处理
            console.log(error);
          });
      },
      // 获取选择框的值
      selDataClick(e) {
        let name = e.target.dataset.name;
        let index = e.target.dataset.index;
        this[name] = index
        if (name == 'alarmTypeIndex') {
          this.alarmTypeIndex = index
          this.fenceNodeInfo.alarmRule = this.alarmTypeList[index].id
        } else if (name == 'statusSysIndex') {
          this.statusSysIndex = index
          this.fenceNodeInfo.effect = this.statusSysList[index].id
        }
        setTimeout(() => {
          this.closeInstall()
          this.modifyFence()
        }, 500)
      },
      // 设备选择
      selDeviceClick(e) {
        let index = e.target.dataset.index;
        if (this.deviceList[index].sel == 1) {
          this.deviceList[index].sel = 0
        } else {
          this.deviceList[index].sel = 1
        }
      },
      selectedFence() {
        if (this.fenceIndex != null) {
          this.fenceNodeInfo = this.fenceList[this.fenceIndex];
          this.alarmTypeIndex = parseInt(this.fenceNodeInfo.alarmRule)
          this.statusSysIndex = parseInt(this.fenceNodeInfo.effect)
          this.selFence = false;
          this.sysFence = true;
          this.fenceInfo = this.fenceNodeInfo.coords
          // 围栏显示
          fenceShow(this.fenceInfo)
        } else {
          alert('请选择设备')
        }
      },
      delFence() {
        console.log(this.fenceNodeInfo)
        if (confirm('确认删除围栏？')) {
          axios.delete(`/geo/fence/delete/${this.fenceNodeInfo.id}`)
            .then(res => {
              console.log(res)
              if (res.status == 200) {
                window.location.reload();
                // this.fenceList = res.data.payload
              }
            })
            .catch(function (error) { // 请求失败处理
              console.log(error);
            });
        }
      },
      // 修改围栏
      modifyFence() {
        // 关闭所有弹框
        this.closeInstall()
        this.fenceNameModify = false
        // 保存地图数据
        let deviceList = this.deviceList
        let fenceNodeInfo = this.fenceNodeInfo
        let matchTerminalSn = []
        for (let i = 0; i < deviceList.length; i++) {
          if (deviceList[i].sel == 1) {
            matchTerminalSn.push(deviceList[i].terminalSn)
          }
        }
        matchTerminalSn = matchTerminalSn.toString()
        let id = fenceNodeInfo.id;
        let coords = this.fenceInfo;
        let fenceName = fenceNodeInfo.fenceName;
        let alarmRule = parseInt(fenceNodeInfo.alarmRule);
        let effect = parseInt(fenceNodeInfo.effect);
        axios.post(`/geo/fence/save`, {
          id: id,
          coords: coords,
          fenceName: fenceName,
          alarmRule: alarmRule,
          matchTerminalSn: matchTerminalSn,
          effect: effect
        })
          .then(res => {
            if (res.status == 200) {
              // 重新获取围栏列表,刷新围栏
              this.getFenceList()
            }
          })
          .catch(function (error) { // 请求失败处理
            console.log(error);
          });
      },
      openPolyEditor() {
        polyEditor.open()
      },
      closePolyEditor() {
        polyEditor.close()
      }
    }
  })
  var polyEditor;
  var map;
  var polygon;
  function fenceShow(coords) {
    coords = coords.split(",")
    var fenceData = []
    for (let i = 0; i < coords.length; i += 2) {
      fenceData.push([coords[i], coords[i + 1]])
    }
    map = new AMap.Map("container", {
      center: fenceData[0],
      zoom: 14
    });
    AMap.plugin([
      'AMap.ToolBar',
    ], function () {
      // 在图面添加工具条控件，工具条控件集成了缩放、平移、定位等功能按钮在内的组合控件
      map.addControl(new AMap.ToolBar({
        // 简易缩放模式，默认为 false
        liteStyle: true
      }));
    });
    polygon = new AMap.Polygon({
      path: fenceData,
      strokeColor: "#FF33FF",
      strokeWeight: 6,
      strokeOpacity: 0.2,
      fillOpacity: 0.4,
      fillColor: '#1791fc',
      zIndex: 50,
    })

    map.add(polygon)
    // 缩放地图到合适的视野级别
    map.setFitView([polygon])

    polyEditor = new AMap.PolyEditor(map, polygon)

    polyEditor.on('addnode', function (event) {
      console.log('触发事件：addnode')
      log.info('触发事件：addnode')
    })

    polyEditor.on('adjust', function (event) {
      console.log('触发事件：adjust')
      log.info('触发事件：adjust')

    })

    polyEditor.on('removenode', function (event) {
      console.log('触发事件：removenode')
      log.info('触发事件：removenode')
    })

    polyEditor.on('end', function (event) {
      console.log('触发事件： end')
      // event.target 即为编辑后的多边形对象
      let newPath = []
      let allPath = event.target.w.path
      for (let i = 0; i < allPath.length; i++) {
        newPath.push([allPath[i].lng, allPath[i].lat])
      }
      newPath = flatten(newPath).toString()
      if (newPath == fenceVue.fenceInfo) {
        return false
      }
      // 获取新的围栏数据
      fenceVue.fenceInfo = newPath
      // 监听围栏修改
      fenceVue.fenceModify = !fenceVue.fenceModify
    })
  }

</script>

</html>