<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
  <title>实时定位</title>
  <link rel="stylesheet" href="./css/reset.css" />
  <link rel="stylesheet" href="./css/map.css" />

</head>

<body class="fanceDom">
  <div class="mapCon" id="container"></div>
  <div id="positionCon">
    <div class="deviceInfo" v-if="deviceInfoShow">
      <div class="item">
        <div class="img">
          <img :src="deviceInfo.avatar" alt="" />
        </div>
        <div class="mainInfo">
          <h4>{{deviceInfo.memName}}</h4>
          <div>
            <img class="power" src="./image/power.png" alt="" />
            {{deviceInfo.voltageRange}}%
          </div>
        </div>
        <div class="operating">
          <span class="tiem">{{deviceInfo.pastTima}}</span>
        </div>
      </div>
      <div class="item">
        <div class="img">
          <!-- // geolocationState 1 gps  3无线网  4基站 -->
          <img src="./image/wifi.png" alt="" v-if="deviceInfo.lastCoordType == 3" />
          <img src="./image/GPS.png" alt="" v-if="deviceInfo.lastCoordType == 1" />
          <img src="./image/station.png" alt="" v-if="deviceInfo.lastCoordType == 4" />
        </div>
        <div class="mainInfo">
          <span class="address">{{address}}</span>
        </div>
        <div class="operating" @click="positionRefresh">
          <img :class="{ 'imgRotation': imgRefresh }" src="./image/refresh.png" :data-index="deviceIndex" alt="" />
          <span>刷新</span>
        </div>
      </div>
    </div>

    <ul class="selMayType">
      <li class="active" @click="goPage" data-url="index.html">
        <img src="./image/locationActive.png" alt="">
        实时定位
      </li>
      <li @click="goPage" data-url="locus.html">
        <img src="./image/track.png" alt="">
        轨迹回放
      </li>
      <li @click="goPage" data-url="fence.html">
        <img src="./image/fence.png" alt="">
        电子围栏
      </li>
    </ul>
  </div>


</body>
<script src="./js/public.js"></script>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- <script src="https://webapi.amap.com/maps?v=1.4.15&key=a00b235d251b6c4498797f45080501a6&plugin=AMap.PolyEditor"></script> -->
<!-- <script src="https://webapi.amap.com/maps?v=1.4.15&key=a00b235d251b6c4498797f45080501a6"></script> -->
<script src="https://webapi.amap.com/maps?v=1.4.15&key=a00b235d251b6c4498797f45080501a6&plugin=AMap.Geocoder"></script>
<script src="./js/position.js"></script>
<script>
  let userInfo = getPageData()
  // userInfo['token'] = 'eyJhbGciOiJIUzI1NiJ9.eyJ1c2VyQ29kZSI6Im51bGxfemp4aiIsImxvZ2luQ29kZSI6IjEzMzU5MjAxODQzIiwibW9iaWxlIjoiIiwidXNlck5hbWUiOiIxMzM1OTIwMTg0MyIsInVzZXJUeXBlIjoibWVtYmVyIiwiaWF0IjoxNTk0NTI0Mjg5fQ.Tec2zF7P0Ng52j6F9VGLuzGGozkM2ikAWvqq2n8-FWc'
  let pageVueNode = new Vue({
    el: '#positionCon',
    data: {
      deviceInfo: {
        terminalSn: "",
        online: "",
        socketId: "",
        lastLoginTime: "",
        lastCoordLng: "",
        lastCoordLat: "",
        maintRef: "",
        stateRef: "",
        state: "",
        voltage: "",
        timestamp: "",
        voltageRange: "",
        memName: "",
        avatar: "",
        pastTima: ""
      },
      address: '',
      deviceInfoShow: false,
      userInfo: userInfo,
      deviceIndex: null,
      deviceList: [],
      imgRefresh: false
    },
    mounted() {
      // 获取用户信息
      // this.getUserInfo()
      axiosInit()
      // 获取围栏列表
      this.getDeviceList()
    },
    watch: {
      deviceIndex() {
        let index = this.deviceIndex
        let deviceList = this.deviceList
        // if (deviceList[index].member.hasOwnProperty('memName')) {
        //   memName = deviceList[index].member.memName
        // }
        // /terminal/state/{terminalSn}
        axios.get(`/terminal/state/${deviceList[index].terminalSn}`)
        // axios.get(`/geo/location/latest/${terminalSn}`)
          .then(res => {
            if (res.status == 200) {
              this.deviceInfo = res.data.payload
              this.deviceInfo.memName = deviceList[index].memName
              this.deviceInfo['avatar'] = deviceList[index].avatar
              this.deviceInfo['pastTima'] = showTime(this.deviceInfo.timestamp)
              let geocoder = new AMap.Geocoder({
                radius: 1000,
                // resizeEnable: true,
                extensions: "all"
              });

              let position = [this.deviceInfo.lastCoordLng, this.deviceInfo.lastCoordLat]
              geocoder.getAddress(position, (status, result) => {
                if (status === 'complete' && result.info === 'OK') {
                  this.address = result.regeocode.formattedAddress
                  // this.deviceInfo['address'] = result.regeocode.formattedAddress
                  
                  this.deviceInfoShow = true
                  console.log('=========================')
                  console.log(this.deviceInfo)
                }
              })
              // geolocationState 1 gps  3无线网  4基站
            }
          })
          .catch(function (error) { // 请求失败处理
            console.log(error);
          });
      }
    },
    methods: {
      goPage(e) {
        let url = e.target.dataset.url;

        window.location.href = `${url}?token=${this.userInfo.token}`
      },
      getUserInfo() {
        // this.userInfo = getPageData()
      },
      getDeviceList() {
        axios.get(`/terminal/list`)
          .then(res => {
            if (res.status == 200) {
              let list = res.data.payload
              for (let i = 0; i < list.length; i++) {
                let itemNode = {}
                itemNode['avatar'] = list[i].member.avatar
                itemNode['memName'] = list[i].member.memName
                itemNode['memCode'] = list[i].member.memCode
                itemNode['msisdn'] = list[i].member.msisdn
                itemNode['btMac'] = list[i].btMac
                itemNode['imei'] = list[i].imei
                itemNode['netMac'] = list[i].netMac
                itemNode['status'] = list[i].status
                itemNode['terminalSn'] = list[i].terminalSn
                itemNode['terminalType'] = list[i].terminalType
                itemNode['lastCoordLat'] = list[i].state.lastCoordLat
                itemNode['lastCoordLng'] = list[i].state.lastCoordLng
                itemNode['maintRef'] = list[i].state.maintRef
                itemNode['online'] = list[i].state.online
                itemNode['state'] = list[i].state.state
                itemNode['stateRef'] = list[i].state.stateRef
                itemNode['timestamp'] = list[i].state.timestamp
                itemNode['voltage'] = list[i].state.voltage
                itemNode['voltageRange'] = list[i].state.voltageRange
                console.log(itemNode)
                this.deviceList.push(itemNode)
              }
              console.log(this.deviceList)
              // this.deviceList = this.dataConvert(this.deviceList)
              markersShow(this.deviceList)
            }
          })
          .catch(function (error) { // 请求失败处理
            console.log(error);
          });
      },
      positionRefresh() {
        let index = this.deviceIndex
        let deviceList = this.deviceList
        this.imgRefresh = true
        // if (deviceList[index].member.hasOwnProperty('memName')) {
        //   memName = deviceList[index].member.memName
        // }
        axios.get(`/geo/location/latest/${deviceList[index].terminalSn}`)
          .then(res => {
            this.imgRefresh = false
            if (res.status == 200) {
              this.deviceInfo = res.data.payload
              this.deviceInfo.memName = deviceList[index].memName
              this.deviceInfo['avatar'] = deviceList[index].avatar
              this.deviceInfo['pastTima'] = showTime(this.deviceInfo.timestamp)
              let geocoder = new AMap.Geocoder({
                radius: 1000,
                // resizeEnable: true,
                extensions: "all"
              });

              let position = [this.deviceInfo.lastCoordLng, this.deviceInfo.lastCoordLat]
              geocoder.getAddress(position, (status, result) => {
                
                if (status === 'complete' && result.info === 'OK') {
                this.address = result.regeocode.formattedAddress
                }
              })
              // geolocationState 1 gps  3无线网  4基站
            }
          })
          .catch(function (error) { // 请求失败处理
            console.log(error);
          });
      }
    }
  })
</script>

</html>