<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
  <title>轨迹回放</title>
  <link rel="stylesheet" href="./css/reset.css" />
  <link rel="stylesheet" href="./css/map.css" />
</head>

<body>
  <div class="mapCon" id="container"></div>
  <div id="trackCon" class="domCon">
    <div class="topInfo" @click="selDeviceClick">
      <span>{{selName ||"选择"}}</span>
      <img src="./image/right.png" alt="">
    </div>
    <div class="elData" v-if="selDevice">
      <div class="elDataBg"></div>
      <div class="elDataConPath">
        <h4>选择设备和时间</h4>
        <div class="timeSel">
          <ul class="deviceList">
            <li :class="{'activeBg':deviceIndex == index}" v-for="(item, index) in deviceList" data-name="deviceIndex"
              :data-index="index" @click="selDataClick">
              {{item.memName}}
            </li>
          </ul>
          <ul class="trackTime">
            <li :class="{'active':tiemIndex == index}" v-for="(item, index) in timeList" data-name="tiemIndex"
              :data-index="index" @click="selDataClick">
              {{item}}
              <img class="icon" src="./image/active.png" v-if="tiemIndex == index" alt="">
            </li>
          </ul>
        </div>
        <button class="sub" @click="selectedDevice">确定</button>
      </div>
    </div>
    <ul class="selMayType">
      <li @click="goPage" data-url="index.html">
        <img src="./image/location.png" alt="">
        实时定位
      </li>
      <li class="active" @click="goPage" data-url="locus.html">
        <img src="./image/trackActive.png" alt="">
        轨迹回放
      </li>
      <li @click="goPage" data-url="fence.html">
        <img src="./image/fence.png" alt="">
        电子围栏
      </li>
    </ul>
  </div>

  <!-- <div class="input-card">
    <h4>轨迹回放控制</h4>
    <div class="input-item">
        <input type="button" class="btn" value="开始动画" id="start" onclick="startAnimation()"/>
        <input type="button" class="btn" value="暂停动画" id="pause" onclick="pauseAnimation()"/>
    </div>
    <div class="input-item">
        <input type="button" class="btn" value="继续动画" id="resume" onclick="resumeAnimation()"/>
        <input type="button" class="btn" value="停止动画" id="stop" onclick="stopAnimation()"/>
    </div>
</div> -->


</body>
<script src="./js/public.js"></script>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.15&key=a00b235d251b6c4498797f45080501a6"></script> -->
<script language="javascript"
  src="https://webapi.amap.com/maps?v=1.4.15&key=a00b235d251b6c4498797f45080501a6&plugin=AMap.GraspRoad"></script>
<script src="./js/track.js"></script>
<script>
  let userInfo = getPageData()
  userInfo['token'] = 'eyJhbGciOiJIUzI1NiJ9.eyJ1c2VyQ29kZSI6Im51bGxfemp4aiIsIm1vYmlsZSI6IiIsInVzZXJOYW1lIjoiMTMzNTkyMDE4NDMiLCJpYXQiOjE1OTU0MTM2Mzl9.1AIIrcBoPKHrQ9hkYrr6bxcnDIKLEh3SjcbwGAtxIts'
  let vueData = new Vue({
    el: '#trackCon',
    data: {
      userInfo: userInfo,
      deviceNodeInfo: {},
      selDevice: false,
      deviceIndex: null,
      deviceList: [],
      tiemIndex: null,
      timeList: [],
      selName: ''
    },
    mounted() {
      axiosInit()
      domConShow()
      // 获取设备列表
      this.getDeviceList()
      // 获取时间列表
      this.getTimeList()
    },
    methods: {
      goPage(e) {
        let url = e.target.dataset.url;
        // window.location.href = url
        window.location.replace(url)
      },
      getUserInfo() {
        this.userInfo = getPageData()
      },
      getDeviceList() {
        axios.get(`/terminal/list`)
          .then(res => {
            if (res.status == 200) {
              let list = res.data.payload
              let deviceList = []
              for (let i = 0; i < list.length; i++) {
                let itemNode = {}
                itemNode['avatar'] = list[i].member.avatar
                itemNode['memName'] = list[i].member.memName
                itemNode['memCode'] = list[i].member.memCode
                itemNode['msisdn'] = list[i].member.msisdn
                itemNode['btMac'] = list[i].btMac
                itemNode['imei'] = list[i].imei
                itemNode['netMac'] = list[i].netMac
                itemNode['status'] = list[i].status
                itemNode['terminalSn'] = list[i].terminalSn
                itemNode['terminalType'] = list[i].terminalType
                itemNode['lastCoordLat'] = list[i].state.lastCoordLat
                itemNode['lastCoordLng'] = list[i].state.lastCoordLng
                itemNode['maintRef'] = list[i].state.maintRef
                itemNode['online'] = list[i].state.online
                itemNode['state'] = list[i].state.state
                itemNode['stateRef'] = list[i].state.stateRef
                itemNode['timestamp'] = list[i].state.timestamp
                itemNode['voltage'] = list[i].state.voltage
                itemNode['voltageRange'] = list[i].state.voltageRange
                deviceList.push(itemNode)
              }
              this.deviceList = deviceList
              this.selDevice = true
              console.log(this.deviceList)
              // this.deviceList = this.dataConvert(this.deviceList)
              // markersShow(this.deviceList)
            }
          })
          .catch(function (error) { // 请求失败处理
            console.log(error);
          });
      },
      selDeviceClick() {
        this.selDevice = true
      },
      getTimeList() {
        let list = []
        for (let i = 0; i > -6; i--) {
          list.push(fun_date(i))
        }
        this.timeList = list
      },
      // 关闭所有选择框
      closeInstall() {
        this.selDevice = false
        this.alarmType = false
        this.statusSys = false
      },
      // 获取选择框的值
      selDataClick(e) {
        let name = e.target.dataset.name;
        let index = e.target.dataset.index;
        console.log(name, index)
        this[name] = index
      },
      selectedDevice() {
        if (this.deviceIndex != null && this.tiemIndex != null) {
          this.deviceNodeInfo = this.deviceList[this.deviceIndex];
          this.time = this.timeList[this.tiemIndex];
          this.selName = `${this.deviceNodeInfo.memName}  ${this.time}`
          // 根据设备及时间加载轨迹数据
          this.getTrackData()
        } else {
          alert('请选择设备及时间')
        }
      },
      getTrackData() {
        axios.get(`/geo/location/locus/${this.deviceNodeInfo.terminalSn}/${this.time}`)
          .then(res => {
            console.log(res)
            if (res.data.success) {
              this.selDevice = false;
              let list = res.data.payload
              lineArr = []
              for (let i = 0; i < list.length; i++) {
                let itemArr = [list[i].lngValue, list[i].latValue]
                lineArr.push(itemArr)
              }
              // lineArr = [[116.478935, 39.997761], [116.478939, 39.997825], [116.478912, 39.998549], [116.478912, 39.998549], [116.478998, 39.998555], [116.478998, 39.998555], [116.479282, 39.99856], [116.479658, 39.998528], [116.480151, 39.998453], [116.480784, 39.998302], [116.480784, 39.998302], [116.481149, 39.998184], [116.481573, 39.997997], [116.481863, 39.997846], [116.482072, 39.997718], [116.482362, 39.997718], [116.483633, 39.998935], [116.48367, 39.998968], [116.484648, 39.999861]];
              console.log(lineArr)
              // 执行轨迹播放
              // startAnimation()
              showMapLocus()
              // this.deviceList = this.dataConvert(this.deviceList)
              // markersShow(this.deviceList)
            }
          })
          .catch(function (error) { // 请求失败处理
            console.log(error);
          });

      },
      openPolyEditor() {
        polyEditor.open()
      },
      closePolyEditor() {
        polyEditor.close()
      }
    }
  })



  var marker = undefined;
  var lineArr = [];
  // var lineArr = [[116.478935, 39.997761], [116.478939, 39.997825], [116.478912, 39.998549], [116.478912, 39.998549], [116.478998, 39.998555], [116.478998, 39.998555], [116.479282, 39.99856], [116.479658, 39.998528], [116.480151, 39.998453], [116.480784, 39.998302], [116.480784, 39.998302], [116.481149, 39.998184], [116.481573, 39.997997], [116.481863, 39.997846], [116.482072, 39.997718], [116.482362, 39.997718], [116.483633, 39.998935], [116.48367, 39.998968], [116.484648, 39.999861]];
  function showMapLocus() {
    console.log(vueData.deviceNodeInfo.avatar)
    var map = new AMap.Map("container", {
      resizeEnable: true,
      center: lineArr[0],
      zoom: 17
    });
    AMap.plugin([
      'AMap.ToolBar',
    ], function () {
      // 在图面添加工具条控件，工具条控件集成了缩放、平移、定位等功能按钮在内的组合控件
      map.addControl(new AMap.ToolBar({
        // 简易缩放模式，默认为 false
        liteStyle: true
      }));
    });

    let markerDom = `<div class="markerCon" data-index="10">
                    <img class="avatar" src="${vueData.deviceNodeInfo.avatar}">
                    <img class="avatarBg" src="./image/avatarBg.png">
                  </div>`;
    marker = new AMap.Marker({
      map: map,
      position: lineArr[0],
      content: markerDom,
      // icon: "https://webapi.amap.com/images/car.png",
      // offset: new AMap.Pixel(-26, -13),
      offset: new AMap.Pixel(-15, -40),
      autoRotation: true,
      angle: -90,
    });

    // 绘制轨迹
    var polyline = new AMap.Polyline({
      map: map,
      path: lineArr,
      showDir: true,
      strokeColor: "#28F",  //线颜色
      // strokeOpacity: 1,     //线透明度
      strokeWeight: 6,      //线宽
      // strokeStyle: "solid"  //线样式
    });

    var passedPolyline = new AMap.Polyline({
      map: map,
      // path: lineArr,
      strokeColor: "#AF5",  //线颜色
      // strokeOpacity: 1,     //线透明度
      strokeWeight: 6,      //线宽
      // strokeStyle: "solid"  //线样式
    });


    marker.on('moving', function (e) {
      passedPolyline.setPath(e.passedPath);
    });

    map.setFitView();
    startAnimation()
  }


  function startAnimation() {

    marker.moveAlong(lineArr, 200);
  }

  function pauseAnimation() {
    marker.pauseMove();
  }

  function resumeAnimation() {
    marker.resumeMove();
  }

  function stopAnimation() {
    marker.stopMove();
  }
</script>

</html>