<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
  <title>新建围栏</title>
  <link rel="stylesheet" href="./css/reset.css" />
  <link rel="stylesheet" href="./css/map.css" />
  <!-- <script src="https://unpkg.com/vue/dist/vue.js"></script> -->
  <script src="./js/vue.min.js"></script>
</head>

<body>
  <div class="fanceDom" id="newFance">
    <ul class="form">
      <li id="nameVal">
        <label>围栏名称{{ diviceName }}</label>
        <input type="text" :value="diviceName" />
        <img src="./image/right.png" alt="">
      </li>
      <li id="deviceVal" @click="selDevice = true">
        <label>适用设备</label>
        <input type="text" disabled />
        <img src="./image/right.png" alt="">
      </li>
      <li id="alarmVal" @click="alarmType = true">
        <label>报警类型</label>
        <input type="text" disabled />
        <img src="./image/right.png" alt="">
      </li>
      <li id="statusVal" @click="statusSys = true">
        <label>状态设置</label>
        <input type="text" disabled />
        <img src="./image/right.png" alt="">
      </li>
    </ul>
    <div class="submit">
      <div><a v-bind:href="url">下一步,绘制地图围栏</a></div>
    </div>
    <div class="elData" v-if="selDevice">
        <div class="elDataBg" @click="closeInstall"></div>
        <div class="elDataCon">
            <h4>选择适用设备</h4>
            <ul>
              <li :class="'active':deviceIndex != index" v-for="(item, index) in deviceList" :data-index="index" @click="selDeviceClick">
                {{item.name}}
                <img class="icon" src="./image/active.png" v-if="deviceIndex == index" alt="">
              </li>
            </ul>
            <button class="sub" @click="selDevice = false">确定</button>
        </div>
    </div>
    <div class="elData" v-if="alarmType">
        <div class="elDataBg" @click="closeInstall"></div>
        <div class="elDataCon">
            <h4>选择报警类型</h4>
            <ul>
                <li>类型1</li>
                <li class="active">
                    类型2
                    <img class="icon" src="./image/active.png" alt="">
                </li>
                <li>类型3</li>
            </ul>
            <button class="sub" @click="alarmType = false">确定</button>
        </div>
    </div>
    <div class="elData" v-if="statusSys">
        <div class="elDataBg" @click="closeInstall"></div>
        <div class="elDataCon">
            <h4>选择状态设置</h4>
            <ul>
                <li>状态1</li>
                <li class="active">
                    状态2
                    <img class="icon" src="./image/active.png" alt="">
                </li>
                <li>状态3</li>
            </ul>
            <button class="sub" @click="statusSys = false">确定</button>
        </div>
    </div>
  </div>
</body>
<script>
  new Vue({
    el: '#newFance',
    data: {
      url: '123',
      diviceName: '',
      selDevice: false,
      alarmType: false,
      statusSys: false,
      deviceIndex: null,
      deviceList: [
        {name: '设备', id: '1'},
        {name: '设备', id: '2'},
        {name: '设备', id: '3'},
        {name: '设备', id: '4'}
      ],
      alarmTypeIndex: null,
      alarmTypeList: [
        {name: '类型', id: '1'},
        {name: '类型', id: '2'},
        {name: '类型', id: '3'},
        {name: '类型', id: '4'}
      ],
      statusSysIndex: null,
      statusSysList: [
        {name: '状态', id: '1'},
        {name: '状态', id: '2'},
        {name: '状态', id: '3'},
        {name: '状态', id: '4'}
      ]
    },
    methods: {
      closeInstall() {
        this.selDevice = false
        this.alarmType = false
        this.statusSys = false
      },
      selDeviceClick(e) {
        console.log(e)
        this.deviceIndex = e.target.dataset.index;
        console.log(this.deviceIndex)
      }
    }
  })
</script>
</html>