<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
  <title>新建围栏</title>
  <link rel="stylesheet" href="./css/reset.css" />
  <link rel="stylesheet" href="./css/map.css" />
  <!-- <script src="https://unpkg.com/vue/dist/vue.js"></script> -->
  <!-- <script src="./js/vue.min.js"></script> -->

  <!-- <script src="./js/jquery-3.5.0.min.js"></script> -->
</head>

<body>
  <div class="fanceDom" id="newFance">
    <ul class="form">
      <li id="nameVal">
        <label>围栏名称</label>
        <input type="text" :value="deviceNode.fenceName" v-focus @input="getFenceName" />
        <img src="./image/right.png" alt="">
      </li>
      <li id="deviceVal" @click="selDevice = true">
        <label>适用设备</label>
        <input type="text" :value="deviceNode.deviceNameAll" disabled />
        <img src="./image/right.png" alt="">
      </li>
      <li id="alarmVal" @click="alarmType = true">
        <label>报警类型</label>
        <input type="text" :value="deviceNode.alarmType" disabled />
        <img src="./image/right.png" alt="">
      </li>
      <li id="statusVal" @click="statusSys = true">
        <label>状态设置</label>
        <input type="text" :value="deviceNode.statusSys" disabled />
        <img src="./image/right.png" alt="">
      </li>
    </ul>
    <div class="submit">
      <div @click="submitFenceInfo" data-url="newFenceMap.html">下一步,绘制地图围栏</div>
    </div>
    <div class="elData" v-if="selDevice">
      <div class="elDataBg" @click="closeInstall"></div>
      <div class="elDataCon">
        <h4>选择适用设备</h4>
        <ul>
          <li :class="{'active':item.sel == 1}" v-for="(item, index) in deviceList" :data-index="index" @click="selDeviceClick">
            {{item.member.memName}}
            <img class="icon" src="./image/active.png" v-if="item.sel == 1" alt="">
          </li>
        </ul>
        <button class="sub" @click="selDevice = false;">确定</button>
      </div>
    </div>
    <div class="elData" v-if="alarmType">
      <div class="elDataBg" @click="closeInstall"></div>
      <div class="elDataCon">
        <h4>选择报警类型</h4>
        <ul>
          <li :class="{'active':alarmTypeIndex == index}" v-for="(item, index) in alarmTypeList"
            data-name="alarmTypeIndex" :data-index="index" @click="selDataClick">
            {{item.name}}
            <img class="icon" src="./image/active.png" v-if="alarmTypeIndex == index" alt="">
          </li>
        </ul>
        <!-- <button class="sub" @click="runSelDevice = false;deviceIndex = deviceIndexShow">确定</button> -->
      </div>
    </div>
    <div class="elData" v-if="statusSys">
      <div class="elDataBg" @click="closeInstall"></div>
      <div class="elDataCon">
        <h4>选择是否生效</h4>
        <ul>
          <li :class="{'active':statusSysIndex == index}" v-for="(item, index) in statusSysList"
            data-name="statusSysIndex" :data-index="index" @click="selDataClick">
            {{item.name}}
            <img class="icon" src="./image/active.png" v-if="statusSysIndex == index" alt="">
          </li>
        </ul>
        <!-- <button class="sub" @click="runSelDevice = false;deviceIndex = deviceIndexShow">确定</button> -->
      </div>
    </div>
  </div>
</body>
<script src="./js/public.js"></script>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>

</script>

<script>
  let userInfo = getPageData()
  userInfo['token'] = 'eyJhbGciOiJIUzI1NiJ9.eyJ1c2VyQ29kZSI6Im51bGxfemp4aiIsIm1vYmlsZSI6IiIsInVzZXJOYW1lIjoiMTMzNTkyMDE4NDMiLCJpYXQiOjE1OTU0MTM2Mzl9.1AIIrcBoPKHrQ9hkYrr6bxcnDIKLEh3SjcbwGAtxIts'
  new Vue({
    el: '#newFance',
    directives: {
      // 注册一个局部的自定义指令 v-focus
      focus: {
        // 指令的定义
        inserted: function (el) {
          // 聚焦元素
          el.focus()
        }
      }
    },
    data: {
      userInfo: {},
      selDevice: false,
      alarmType: false,
      statusSys: false,
      deviceNode: {
        deviceNameAll: '',
        deviceName: '',
        alarmType: '',
        statusSys: ''
      },
      deviceList: [],
      alarmTypeIndex: null,
      alarmTypeList: [
        { name: '出报警', id: '0' },
        { name: '入报警', id: '1' }
      ],
      statusSysIndex: null,
      statusSysList: [
        { name: '不生效', id: '0' },
        { name: '生效', id: '1' }
      ]
    },
    mounted() {
      axiosInit()
      // 获取用户信息
      this.getUserInfo()
      // 获取设备列表
      this.getDeviceList()
    },
    methods: {
      goPage(e) {
        let url = e.target.dataset.url;
        window.location.href = url
      },
      getUserInfo() {
        this.userInfo = getPageData()
      },
      selDeviceClick(e) {
        let index = e.target.dataset.index;
        if (this.deviceList[index].sel == 1) {
          this.deviceList[index].sel = 0
        } else {
          this.deviceList[index].sel = 1
        }
        let deviceNameAll = []
        for (let i = 0; i < this.deviceList.length; i++) {
          if (this.deviceList[i].sel == 1) {
            deviceNameAll.push(this.deviceList[i].member.memName)
          }
        }
        this.deviceNode.deviceNameAll = deviceNameAll.toString()
      },
      getDeviceList() {
        axios.get(`/terminal/list`)
          .then(res => {
            if (res.status == 200) {
              let list = res.data.payload
              console.log(this.deviceList)
              for (let i = 0; i < list.length; i++) {
                list[i]['sel'] = 0
              }
              this.deviceList = list
              // this.deviceList = this.dataConvert(this.deviceList)
              markersShow(this.deviceList)
            }
          })
          .catch(function (error) { // 请求失败处理
            console.log(error);
          });
      },
      // 关闭所有选择框
      closeInstall() {
        this.selDevice = false
        this.alarmType = false
        this.statusSys = false
      },
      // 获取设备名称
      getFenceName(e) {
        this.deviceNode.fenceName = e.target.value;
      },
      // 获取选择框的值
      selDataClick(e) {
        let name = e.target.dataset.name;
        let index = e.target.dataset.index;
        this[name] = index
        if (name == 'alarmTypeIndex') {
          this.deviceNode.alarmType = this.alarmTypeList[index].name;
        } else if (name == 'statusSysIndex') {
          this.deviceNode.statusSys = this.statusSysList[index].name;
        }
        setTimeout(() => {
          this.closeInstall()
        }, 500)
      },
      // 提交值
      submitFenceInfo(e) {
        // console.log(`fenceName---${this.deviceNode.fenceName}`)
        // console.log(`deviceIndex---${this.deviceIndex}`)
        // console.log(`alarmTypeIndex---${this.alarmTypeIndex}`)
        // console.log(`statusSysIndex---${this.statusSysIndex}`)
        let deviceList = this.deviceList
        let sn = []
        for (let i = 0; i < deviceList.length; i++) {
          if (deviceList[i].sel == 1) {
            sn.push(deviceList[i].terminalSn)
          }
        }
        sn.toString()
        if (
          this.deviceNode.fenceName == '' ||
          // this.deviceNode.deviceNameAll == '' || 
          this.alarmTypeIndex == null || 
          this.statusSysIndex == null
        ) {
          alert('请完善信息');
          return false;
        }
        // let deviceNameAll = this.deviceNode.deviceNameAll
        let alarmType = this.alarmTypeList[this.alarmTypeIndex].id;
        let statusSys = this.statusSysList[this.statusSysIndex].id;
        let token = this.userInfo.token;
        let url = e.target.dataset.url;
        window.location.href = `${url}?token=${token}&fenceName=${this.deviceNode.fenceName}&matchTerminalSn=${sn}&alarmType=${alarmType}&effect=${statusSys}`
      }
    }
  })

</script>

</html>