<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
  <title>轨迹回放</title>
  <link rel="stylesheet" href="./css/reset.css" />
  <link rel="stylesheet" href="./css/map.css" />
</head>

<body>
  <div class="mapCon" id="container"></div>
  <div id="trackCon">
    <div class="topInfo" @click="selDevice = true">
      <span>选择</span>
      <img src="./image/right.png" alt="">
    </div>
    <div class="elData" v-if="selDevice">
      <div class="elDataBg"></div>
      <div class="elDataConPath">
        <h4>选择设备和时间</h4>
        <div class="timeSel">
          <ul class="deviceList">
            <li :class="{'active':deviceIndex == index}" v-for="(item, index) in deviceList" data-name="deviceIndex"
              :data-index="index" @click="selDataClick">
              {{item.name}}
            </li>
          </ul>
          <ul class="trackTime">
            <li :class="{'active':tiemIndex == index}" v-for="(item, index) in timeList" data-name="tiemIndex"
              :data-index="index" @click="selDataClick">
              {{item}}
              <img class="icon" src="./image/active.png" v-if="tiemIndex == index" alt="">
            </li>
          </ul>
        </div>
        <button class="sub" @click="selectedDevice">确定</button>
      </div>
    </div>
    <ul class="selMayType">
      <li @click="goPage" data-url="index.html">
        <img src="./image/location.png" alt="">
        实时定位
      </li>
      <li class="active" @click="goPage" data-url="track.html">
        <img src="./image/trackActive.png" alt="">
        轨迹回放
      </li>
      <li @click="goPage" data-url="fence.html">
        <img src="./image/fence.png" alt="">
        电子围栏
      </li>
    </ul>
  </div>

  <!-- <div class="input-card">
    <h4>轨迹回放控制</h4>
    <div class="input-item">
        <input type="button" class="btn" value="开始动画" id="start" onclick="startAnimation()"/>
        <input type="button" class="btn" value="暂停动画" id="pause" onclick="pauseAnimation()"/>
    </div>
    <div class="input-item">
        <input type="button" class="btn" value="继续动画" id="resume" onclick="resumeAnimation()"/>
        <input type="button" class="btn" value="停止动画" id="stop" onclick="stopAnimation()"/>
    </div>
</div> -->
  

</body>
<script src="./js/public.js"></script>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.15&key=b1e64030afdd4f85f35e3da7ffb33078"></script> -->
<script language="javascript" src="https://webapi.amap.com/maps?v=1.4.15&key=b1e64030afdd4f85f35e3da7ffb33078&plugin=AMap.GraspRoad"></script>
<script src="./js/track.js"></script>
<script>
  let userInfo = getPageData()
  userInfo['token'] = 'eyJhbGciOiJIUzI1NiJ9.eyJ1c2VyQ29kZSI6Im51bGxfemp4aiIsImxvZ2luQ29kZSI6IjEzMzU5MjAxODQzIiwibW9iaWxlIjoiIiwidXNlck5hbWUiOiIxMzM1OTIwMTg0MyIsInVzZXJUeXBlIjoibWVtYmVyIiwiaWF0IjoxNTk0NTI0Mjg5fQ.Tec2zF7P0Ng52j6F9VGLuzGGozkM2ikAWvqq2n8-FWc'
  new Vue({
    el: '#trackCon',
    data: {
      userInfo: userInfo,
      deviceNodeInfo: {},
      selDevice: false,
      deviceIndex: null,
      deviceList: [],
      tiemIndex: null,
      timeList: []
    },
    mounted() {
      axiosInit()
      // 获取设备列表
      this.getDeviceList()
      // 获取时间列表
      this.getTimeList()
    },
    methods: {
      goPage(e) {
        let url = e.target.dataset.url;
        window.location.href = url
      },
      getUserInfo() {
        this.userInfo = getPageData()
      },
      getDeviceList() {
        this.deviceList = [
          {name: '设备1', id: '1'},
          {name: '设备2', id: '1'},
          {name: '设备3', id: '1'},
          {name: '设备4', id: '1'},
          {name: '设备5', id: '1'},
        ]
        axios.get(`/terminal/list`)
          .then(res => {
            if (res.status == 200) {
              let list = res.data.payload
              for (let i = 0; i < list.length;i++) {
                let itemNode = {}
                itemNode['avatar'] = list[i].member.avatar
                itemNode['memName'] = list[i].member.memName
                itemNode['memCode'] = list[i].member.memCode
                itemNode['msisdn'] = list[i].member.msisdn
                itemNode['btMac'] = list[i].btMac
                itemNode['imei'] = list[i].imei
                itemNode['netMac'] = list[i].netMac
                itemNode['status'] = list[i].status
                itemNode['terminalSn'] = list[i].terminalSn
                itemNode['terminalType'] = list[i].terminalType 
                itemNode['lastCoordLat'] = list[i].state.lastCoordLat
                itemNode['lastCoordLng'] = list[i].state.lastCoordLng
                itemNode['maintRef'] = list[i].state.maintRef
                itemNode['online'] = list[i].state.online
                itemNode['state'] = list[i].state.state
                itemNode['stateRef'] = list[i].state.stateRef
                itemNode['timestamp'] = list[i].state.timestamp
                itemNode['voltage'] = list[i].state.voltage
                itemNode['voltageRange'] = list[i].state.voltageRange
                console.log(itemNode)
                this.deviceList.push(itemNode)
              }
              console.log(this.deviceList)
              // this.deviceList = this.dataConvert(this.deviceList)
              markersShow(this.deviceList)
            }
          })
          .catch(function (error) { // 请求失败处理
            console.log(error);
          });
      },
      getTimeList() {
        let list = []
        for (let i = 0; i > -6; i--) {
          list.push(fun_date(i))
        }
        this.timeList = list
      },
      // 关闭所有选择框
      closeInstall() {
        this.selDevice = false
        this.alarmType = false
        this.statusSys = false
      },
      // 获取选择框的值
      selDataClick(e) {
        let name = e.target.dataset.name;
        let index = e.target.dataset.index;
        console.log(name, index)
        this[name] = index
      },
      selectedDevice() {
        if (this.deviceIndex != null && this.tiemIndex != null) {
          this.deviceNodeInfo = this.deviceList[this.deviceIndex];
          this.time = this.timeList[this.tiemIndex];
          this.selDevice = false;
          startAnimation()
        } else {
          alert('请选择设备及时间')
        }
      },
      openPolyEditor() {
        polyEditor.open()
      },
      closePolyEditor() {
        polyEditor.close()
      }
    }
  })
</script>
</html>